<div class="text-center bg-dark mt-auto mt-3">
    <div class="p-3 text-light">
        <ul class="d-flex flex-row justify-content-center navbar-nav gap-3 mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-uppercase text-light" href="/"><%= __("home")%></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-uppercase text-light" href="/"><%= __("news")%></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link text-uppercase text-light" href="/"><%= __("weather")%></a>
            </li>
        </ul>
    </div>
    <div class="text-center p-3 text-light">
        ©2024 Ulan Sara SE-2203
    </div>
</div>